<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="robot_arm_automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <robot_arm_automation.Properties.Settings>
            <setting name="plcIP" serializeAs="String">
                <value>172.16.100.100</value>
            </setting>
            <setting name="plcDatabase" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="manualSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="xAxisSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="yAxisSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="zAxisSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="spinSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="moveRange" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="numberOfLayers" serializeAs="String">
                <value>5</value>
            </setting>
        </robot_arm_automation.Properties.Settings>
    </userSettings>
</configuration>